[2022-04-02 20:42] qwen-3108 commented on #414
Hey I'm interested to work on this. Can I claim this issue?

[2022-04-02 21:21] cameel commented on #414
Sure! Go ahead.

The link in the description is now outdated but looks like it was pointing at [this list that's now in `test/compiler.ts`](https://github.com/ethereum/solc-js/blob/v0.8.13/test/compiler.ts#L872-L889).

Also, just a heads up, we're currently in the process of transitioning to TypeScript, which is being done by @stephensli. Fortunately I see that his upcoming PR (#614) does not touc

[2022-04-02 21:48] qwen-3108 commented on #414
Okay! Will try to submit a PR within the next few days.

[2022-04-07 12:25] LucasTrecker opened #616 "DeclarationError: Identifier already declared when compiling contract"
I have a Smart Contract "MyCoin". It has another SmartContract "Dex" as dependency.

MyCoin:

[code]
...

Dex:

[code]
...

Code to compile with solc:

[code]
Error:

`{"errors":[{"component":"general","errorCode":"2333","formattedMessage":"DeclarationError: Identifier already declared.\n  --> Contract:16:1:\n   |\n16 | contract MyCoin is ERC721Holder, ERC165, IERC721Metadata, Ownable{\n   | ^ (Re

[2022-04-07 16:16] LucasTrecker commented on #616
Solution: Instead of importing each other, I created an interface with all functions needed.

[2022-04-07 16:17] #616 closed

[2022-04-10 11:23] HsienW opened #617 "Error when loading solc-js in a browser: `TypeError: Cannot use 'in' operator to search for '_solidity_version' in undefined`"
Hi

I use it in a browser environment, it will give an error

regardless of using load solc into the global variable window.Module
Or import in ES6 syntax

both "TypeError: Cannot use 'in' operator to search for '_solidity_version' in undefined"

I just simply imported, without writing any code, it went wrong

![image](https://user-images.githubusercontent.com/20525933/162615495-48a9df0d-3b07-42da

[2022-04-14 08:01] MJYoung114 opened #618 "Unable to retrieve AST after compilation"
Hi team,

Is there a way to retrieve the AST from the compiled output?

Using the below or any variation of the below with

`outputSelection: {
      '*': {
        '*': ['ast']
      }`

does not return any ast.

[code]

[2022-04-14 12:19] cameel commented on #618
See output description in [Compiler Input and Output JSON Description](https://docs.soliditylang.org/en/latest/using-the-compiler.html#compiler-input-and-output-json-description):

Also, this is a bug tracker for the project, not a place to ask support questions. Please use the [#solidity](https://gitter.im/ethereum/solidity) channel or Ethereum Stack Exchange unless you think you actually found a

[2022-04-14 12:19] #618 closed

[2022-04-14 12:33] cameel commented on #617
Can you provide more details about your environment? OS, browser and version, solc-js version, compiler binary version, etc.

Did you load the compiler binary with a `<script>` tag as shown under [Browser Usage in the README](https://github.com/ethereum/solc-js#browser-usage)?

[2022-04-18 14:50] weiyuan95 opened #619 "`soljson._compile is not a function` when using legacy solidity version"
Hi there,

I'm getting an error `soljson._compile is not a function` when trying to follow the steps here https://github.com/ethereum/solc-js#using-the-latest-development-snapshot . Here's a sample of the code i'm using. It's wrapped in a Promise since I want the callback to resolve before proceeding on to other parts of the code. The `solidityVersion` i'm calling this function with is `v0.4.18+co

[2022-04-18 15:07] weiyuan95 commented on #619
Running the code snipper below after manually downloading the binary works
[code]
 So it seems like there's any issue with `.loadRemoteVersion`

[2022-04-19 10:20] bglmmz opened #620 "//forget it."
//forget it.

[2022-04-19 12:15] #620 closed

[2022-04-20 16:02] TimDaub commented on #493
For me, I also tend to run into these problems regularly and the problem is that before, in node.js, it seems something is dumping loads of data into my shell. Can this at least be prevented somehow? It makes debugging any earlier code quite tricky...

https://user-images.githubusercontent.com/2758453/164273596-12c66ed2-ab98-4f9e-bbea-c4aed211058e.mov

[2022-04-27 22:35] cds-amal commented on #537
FYI @cameel, I just noticed a similar error for 0.4.18+commit.9cf6e910.js `@truffle/fetch-and-compile` test suite

<details><summary>Node v16.14.2 and soljson-v0.4.18+commit.9cf6e910.js Stacktrace</summary>

[code]
</details>

[2022-04-28 09:51] cameel commented on #537
@cds-amal Also, any reason you're still using the asm.js binaries? We have equivalent wasm builds and these should really be preferred since they're also faster. This issue is pretty low on the priority list mostly because of this - wasm builds do not have that problem and should be better in all respects so switching to them is not just a workaround, it's the right solution here.

[2022-04-28 18:58] cds-amal commented on #537
Hi @cameel, Truffle sources solc.js from the two endpoints below (in order).
- https://solc-bin.ethereum.org/bin/,
- https://ethereum.github.io/solc-bin/bin/

How can I identify a wasm build? The following file doesn't have the string `Module["wasmBinary"]` that others seem to have.
[code]

[2022-04-28 19:44] cameel commented on #537
See https://github.com/trufflesuite/truffle/issues/4425

Basically, if you use https://solc-bin.ethereum.org/emscripten-wasm32/ you'll get only wasm binaries. You can use https://solc-bin.ethereum.org/emscripten-asmjs/ as a fallback.

If you want to detect the wasm ones, presence of `var wasmBinaryFile="data:application/octet-stream;base64,AGFzbQEA` is a heuristic I used in the past but I can't gu

[2022-05-10 12:17] #169 closed

[2022-05-17 15:53] cameel opened #622 "`Uncaught Error: Cannot find module './common/helpers'` on 0.8.14"
Looks like the helpers added in #603 were not added to the package so trying to import it fails:
[code]
[code]
Also:
[code]
[code]

Also, we need to investigate why this didn't fail any tests. We specifically build the package in CI and install it and that test should have caught it.

[2022-05-17 15:53] cameel commented on #622
@stephensli Could you look into that?

[2022-05-17 16:09] stephensli commented on #622
@cameel I will look into this later today or tomorrow.

[2022-05-17 16:19] cameel commented on #622
Sure. Actually looks like @ekpyron has just created a fix (#623) so please just take a look if nothing is missing there.

And I'm investigating why tests did not catch this. I just reran one of them locally and it did catch it. For reference, I ran this (equivalent to the `hardhat-sample-project` job in CI):

[code]
[code]
So they really should have cought it.

[2022-05-18 05:43] godomainz opened #624 "MODULE_NOT_FOUND with solidity"
I have a folder structure like below

![structure](https://user-images.githubusercontent.com/34884192/168965317-45429ba3-ccec-4b27-8e92-51ad6d3999c9.png)

this is my compile.ts

[code]

below is my package.json

[code]

below is my tsconfig.json

[code]

when I run that compile.js file I'm getting below error

[code]

how to resolve that error ?

[2022-05-18 08:43] cameel commented on #624
Thanks for the report. It has already been reported in #622 though.

Unfortunately solc-js 0.8.14 is broken and we'll be releasing 0.8.15 very soon to fix this. For now the workaround is to use solc-js 0.8.13. Note that while version 0.8.13 of the `solc` npm package comes bundled with a 0.8.13 binary, it's is still compatible with any other binary, in particular with the [0.8.14 wasm binary you ca

[2022-05-18 08:43] #624 closed

[2022-05-18 11:24] BigB97 commented on #491
I think it has to do with the version, I had to uninstall the current version

- npm uninstall solc
- npm install --save solc@0.4.25

[2022-05-18 17:38] #622 closed

[2022-05-18 18:29] cameel commented on #624
Just a quick update. We actually published the fixed version as [`solc@0.8.14-fixed`](https://www.npmjs.com/package/solc/v/0.8.14-fixed) in npm registry. So no new release of the binary, just solc-js. You can use this new version if you can't just use 0.8.13 with latest binary for some reason.

[2022-05-19 04:17] godomainz commented on #624
@cameel nope I'm getting below error. only thing which was worked for me is by adding this   `"solc": "^0.4.17",`
both `0.8.13` and `0.8.14-fixed` did NOT work
[code]

[2022-05-21 17:29] RickCastle2018 opened #627 "`TypeError: Error resolving module specifier “solc/wrapper”` when trying to import solc-js in a browser"
I've added this line into my index.html file: `<script type="text/javascript" src="https://binaries.soliditylang.org/bin/soljson-v0.8.4+commit.c7e474f2.js"></script>`

So, as it's written in README I have `window.Module` variable, and I have to 'wrap' it accordingly to the instructions:

[code]

I added these lines into separate <script> block (placed after the first), but now I get this error in

[2022-05-22 05:44] godomainz opened #628 "`AssertionError [ERR_ASSERTION]: Invalid callback object specified` when trying to use the deprecated `compile()` API on 0.8.9"
tried all these versions
 `"solc": "0.8.9"`
 `"solc": "0.8.13"`
`"solc": "0.8.14-fixed"`
only thing worked was `"solc": "^0.4.17"`

below is the error I got

[code]

my package.json
[code]

my Inbox.sol
[code]
my compile.ts

[code]

[2022-05-25 22:17] matheusaaguiar commented on #628
Hi, thanks for the report.
The API has been rewritten since 0.4.x, and the way you are calling `solc.compile` is deprecated.
Please, refer to the current [README](https://github.com/ethereum/solc-js#readme) to understand how it should be invoked now.
Also, solc-js is backwards-compatible with older compilers - i.e. if you use the latest version with the new way of calling it, it will work fine wit

[2022-05-27 06:02] onlykingKD opened #629 "Could not find a declaration file for module 'solc'."
![Screenshot (278)](https://user-images.githubusercontent.com/55577276/170639423-e92df176-8b23-4e20-9109-adb254a9be1d.png)

**my package.json file**

{
  "name": "inbox",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "dependencies": {
    "solc":

[2022-05-27 11:48] onlykingKD commented on #629
I found a solution like this :
https://stackoverflow.com/questions/53604799/solidity-v0-5-0-compiler-error-invalid-callback-specified

[2022-05-27 14:06] cameel commented on #628
I'm closing this since it works as designed. Please update your code to the current API.

[2022-05-27 14:06] #628 closed

[2022-05-27 14:17] #629 closed

[2022-05-27 22:53] cameel commented on #627
How are you installing/accessing solc-js inside the browser? This sounds a bit as if you just loaded the binary without having the library available.

We'll need a bit more details to debug this. Can you provide a more complete example to reproduce this? Which browser are you using?

[2022-05-27 22:55] cameel commented on #617
I'm closing this since there's not enough detail provided to reproduce the problem and I think it's just incorrect usage. Feel free to reopen and provide more information if you think this is actually a bug in solc-js.

[2022-05-27 22:55] #617 closed

[2022-05-28 14:28] cameel commented on #601
Thanks for reporting. This seems to be a problem with how we access stdin. I think it's related to #460.

[2022-05-31 13:54] cameel commented on #624
For anyone who finds this later - the problem above is unrelated to the original issue reported here and was explained in #628.

[2022-06-02 07:59] GrandSchtroumpf commented on #287
Hello, maybe it can help. Back in the days, I created the types for the input/output compilation for remix-plugin.
You can find the types here : https://github.com/ethereum/remix-plugin/tree/master/packages/api/src/lib/compiler/type
It might not be up-to-date though (version 0.6.x), but it's a good base I think.

[2022-06-02 11:01] stephensli commented on #287
HI @GrandSchtroumpf,

exposed types have been added here: https://github.com/ethereum/solc-js/blob/540a9643cd7974e329287ebf8d4c2c70d744c11d/common/types.ts pending a existing PR has to go in first. These are currently in review.

[2022-06-02 11:08] GrandSchtroumpf commented on #287
Hi @stephensli my link above describe the types for the input (language, source, settings) and output (abi, ...) of the `compile` method based on the solidity [input/output documentation](https://docs.soliditylang.org/en/v0.8.14/using-the-compiler.html#input-description).
I can create a separated PR for that if it's fine for you

[2022-06-05 15:03] RickCastle2018 commented on #627
@cameel, sorry for long responce. The problem is documentation is not clear at all (for browser usage). I found that compiler should be somehow loaded to service worker (https://github.com/ethereum/remix-project/blob/614f726d94384a846a4c8cac81d5c802ff42ba12/libs/remix-solidity/src/compiler/compiler-worker.ts). But I still dont understand how... Could you please write complete guide for this?

[2022-06-05 15:07] RickCastle2018 commented on #627
![image](https://user-images.githubusercontent.com/48931166/172057169-e47c8918-8e68-42ec-af26-88e31258c765.png)
Here're my attempts. I'm trying to use Web Workers, not Service Workers

[2022-06-07 12:06] komus-Israel opened #631 "TypeError: readCallback is not a function at singleCallback (node_modules/solc/wrapper.js:125:18)"
I'm using solc version 0.8.10

Whenever I try compiling my contract with the import call back, I get that error. I can't compile my contract with the library imported in my contract.

const output = JSON.parse (

    solc.compile(JSON.stringify(input), {import:  findImports(libPath)})

)

[2022-06-07 12:08] komus-Israel commented on #631
The error

/home/komolehin/Documents/blockchain/solc compiler/single contract compile/node_modules/solc/wrapper.js:154
      throw e;
      ^

TypeError: readCallback is not a function
    at singleCallback (/home/komolehin/Documents/blockchain/solc compiler/single contract compile/node_modules/solc/wrapper.js:125:18)
    at /home/komolehin/Documents/blockchain/solc compiler/single contract compil

[2022-06-07 13:22] #631 closed

[2022-06-07 13:25] komus-Israel commented on #631
const output = JSON.parse (

solc.compile(JSON.stringify(input), {import:  findImports(libPath)})
)

the error was due to the argument I passed to the findImports function

I removed parameter from function delaration and called the function directly with no argument

solc.compile(JSON.stringify(input), {import:  findImports})

[2022-06-07 13:46] cameel commented on #631
The key point is the difference between a reference to a function (`findImports`) and a call of that function (`findImports(libPath)`). With the first one you put that function in the `import` field of the object and the compiler will be able to use it as a callback. With the second one you call this function yourself once and put the result in the `import` field. That result is likely not even a

[2022-06-10 15:36] cameel commented on #606
I'm going to close this since this is really a Debian issue and there's not much we can do about it on our side.

[2022-06-10 16:37] cameel commented on #535
Pinging @leonardoalt.

[2022-06-10 18:56] cameel opened #632 "Test that `downloadCurrentVersion.ts` actually downloads the latest version"
We used to test that indirectly be checking that `solcjs --version` returns a version matching the one from `package.json`. I changed that in #626 because this is not really guaranteed - the returned version depends on the binary. So now we should also add a proper test that `downloadCurrentVersion.ts` actually does it job and downloads the right binary. It could be a JS test or and additional che

[2022-06-15 19:39] cameel opened #635 "README and LICENSE are missing from the npm package"
Until [0.8.11](https://www.npmjs.com/package/solc/v/0.8.11) the package page on npm had our README. In [0.8.12](https://www.npmjs.com/package/solc/v/0.8.12) README is no longer there. LICENSE file is not there either.

I think they disappeared because we now package only files from the `dist/` subdir. Any extra files need to be explicitly copied there.

We need go add these two back. Do we need an

[2022-06-17 11:20] komus-Israel commented on #631
Thank you @cameel

[2022-06-18 06:31] Hyperienn opened #636 "Solc compile does not work"
Hey guys,
I am learning ethers. js and having an issue with solc-js. I cannot compile my code even though I installed it through npm. Here' s my error.
[code]

And this is the content in package.json
![solcjs](https://user-images.githubusercontent.com/38370087/174425927-b8c459fe-fe18-4181-b190-7763df77bd59.png)

[2022-06-18 15:09] cameel commented on #636
Not a bug. That's just not how you call a command from a npm package. It's either `npx solcjs <options>` (if you installed it via npm) or `./solc.js` (if you cloned the repo). But for command-line use I'd recommend getting a binary for your platform from [solc-bin](https://github.com/ethereum/solc-bin/). The CLI interface of the `solcjs` script is very limited.

[2022-06-18 15:09] #636 closed

[2022-06-28 07:32] crack4it opened #637 "ether version is not showing"
Hi,
when i type "yarn add ethers" in my terminal
warning package.json: No license field
warning No license field
[1/4] Resolving packages...
[2/4] Fetching packages...
[3/4] Linking dependencies...
[4/4] Building fresh packages...
success Saved lockfile.
warning No license field
success Saved 16 new dependencies.
info Direct dependencies
└─ ethers@5.6.9
info All dependencies
├─ @ethersproject/abi@

[2022-06-28 10:10] axic commented on #637
This is the wrong repository, please contact https://github.com/ethers-io.

[2022-06-28 10:10] #637 closed

[2022-06-28 12:55] damianlluch opened #638 "Why is `bytecode` and `deployedBytecode` from Hardhat/Truffle different than in solc-js"
Hi, I am using solc-js independently as I am trying to deploy some contracts in Hedera.
I have a question for you.
Truffle and Hardhat generate a bytecode in the json that the ABI has. But it has a different format than the one generated by solc-js and I don't understand why.

But I can think of using Truffle or Hardhat to generate the bytecodes and then deploy them with the Hedera SDK, how do you

[2022-07-03 14:38] 0xbe1 opened #639 "ParserError: Source file requires different compiler version"
I am using solc-js version 0.8.15 to compile solidity code with version 0.5.16, however it throws ParserError.

Error:

[code]

Code:

[code]

My program wants to handle arbitrary contract versions - what's the recommended way of doing this?

Thank you!

[2022-07-03 14:42] 0xbe1 commented on #639
Oh it seems `loadRemoteVersion` solves my problem!

https://github.com/ethereum/solc-js/issues/583#issuecomment-1017280937

[2022-07-03 14:42] #639 closed

[2022-07-08 10:58] LndnMdiaLb opened #641 "unexpected result using --base-path"
i am unclear on what 'root of source tree' means when using the `base-path` flag

`$(npm bin)/solcjs --bin --output-dir build --base-path ./contracts Test.sol`
returns : `Error reading Test.sol: Error: ENOENT: no such file or directory, open 'Test.sol' `

`$(npm bin)/solcjs --bin --output-dir build --base-path . contracts/Test.sol`  works and compiles contract

[2022-07-17 18:04] ratalviper opened #644 "On deploy.js i get this error reason: 'could not detect network',"
While running node deploy.js i get this error. Please help... (tutorial video time 07:07:15)
`rpc-provider.js:48:23)
    at Object.throw (/home/ratalviper/hh-fcc/ethers-simple-storage/node_modules/@ethersproject/providers/lib/json-rpc-provider.js:29:53)
    at rejected (/home/ratalviper/hh-fcc/ethers-simple-storage/node_modules/@ethersproject/providers/lib/json-rpc-provider.js:21:65)
    at proces

[2022-07-17 18:23] ratalviper commented on #644
Ok finally solved this error had to change server to WSL Linux in Ganache so it worked. ScreenShot attached if anyone faces same issue :)

![Capture](https://user-images.githubusercontent.com/87262417/179419529-ffa0a3ee-05d9-4acc-9060-e569f62dae86.PNG)

[2022-07-18 09:27] cameel commented on #644
Closing, since, apart from not being a bug, it's also unrelated to solc-js. Note that the error message comes from [ethers.js](https://docs.ethers.io). The compiler only compiles contracts. It does not communicate with an Ethereum node.

[2022-07-18 09:27] #644 closed

[2022-07-25 15:42] drop19 opened #645 "Yul: too deep in the stack"
I'm getting the following exception during compilation with Yul. I didn't use assembly directly except in libraries.

solidity setting:
[code]

[code]

[2022-07-25 18:13] cameel commented on #645
This is not a bug, but a limitation of the compiler. You have too many parameters/stack variables somewhere in your code and the EVM is running out of stack slots (there are only 16 accessible at any time). You're also apparently not using the memory-safe annotation on your inline assembly blocks so the compiler cannot use the mechanism for moving variables to memory. Please try doing what the err

[2022-07-25 18:13] #645 closed

[2022-07-25 18:17] cameel commented on #645
Ah, wait you wrote that you're using Yul directly. In that case the situation is similar but instead of the annotation you need to manually use the [`memoryguard`](https://docs.soliditylang.org/en/latest/yul.html#memoryguard). But please read the docs carefully. By using it you promise that your code behaves well in certain ways essential to the memory escalation mechanism.

[2022-08-03 21:25] #635 closed

[2022-08-08 15:31] jhubbardsf commented on #581
Any updates on this?

[2022-08-12 13:26] ekpyron commented on #638
In general, why would you expect different tools to format their output in exactly the same way? Is the ``0x`` prefix what you're getting at there? I'd consider that a rather arbitrary convention.

As for why the bytecode differs, we'd need a lot more details about how truffle/hardhat are set up and solc-js is called to actually evaluate the situation and helping.

Also, for questions like this, i

[2022-08-12 13:42] chase-manning opened #650 "Add Support for Compiling yul"
The Solidity Compiler supports compiling `.yul` files to binary. It would be great to have this functionality in `solc-js` 😄

[2022-08-12 14:23] ekpyron commented on #543
I think after a year, it's fair to close this for inactivity.

[2022-08-12 14:23] #543 closed

[2022-08-12 18:11] cameel commented on #650
I think you mean the [`solcjs`](https://github.com/ethereum/solc-js/blob/master/solc.ts) script? Because solc-js as a library does support Yul - to use it just set the language to `Yul` in [StandardJSON](https://docs.soliditylang.org/en/latest/using-the-compiler.html#input-description).

As for the script, it was meant to be a simple helper and we do not think it makes much sense to put effort int

[2022-08-12 18:11] #650 closed

[2022-08-12 19:30] matheusaaguiar commented on #439
Closing for inactivity.

[2022-08-12 19:30] #439 closed

[2022-08-12 19:34] matheusaaguiar commented on #491
Closing this as it is not reproducible anymore.

[2022-08-12 19:34] #491 closed

[2022-08-12 19:41] matheusaaguiar commented on #423
Closing this for inactivity and also the situation is not clearly related.

[2022-08-12 19:41] #423 closed

[2022-08-12 19:45] matheusaaguiar commented on #330
Closing this for inactivity.

[2022-08-12 19:45] #330 closed

[2022-08-12 20:18] matheusaaguiar commented on #514
Closing for inactivity and not related.

[2022-08-12 20:18] #514 closed

[2022-08-12 20:28] matheusaaguiar commented on #412
Closing for inactivity and problem was solved for later version.

[2022-08-12 20:28] #412 closed

[2022-08-12 20:35] matheusaaguiar commented on #140
Closing for inactivity.

[2022-08-12 20:35] #140 closed

[2022-08-12 20:39] matheusaaguiar commented on #110
Closing for inactivity.

[2022-08-12 20:39] #110 closed

[2022-08-13 00:02] chase-manning commented on #650
Oh thanks so much! Didn't realise you could set the language as `Yul`, user error ha ha. Appreciate the response 😄

Got it working now 🎉

[2022-08-16 10:01] linhnvhicts opened #651 "Different bytecode when compiling from both solc-js and remix IDE"
Currently, I'm trying to get the bytecode from this contract code for example:

[code]

both Complitation have `optimization enabled` with `counts of 200` and using version `v0.8.7+commit.e28d00a7`

Here is how I used solc-js for compile:

[code]

and this is on remix IDE:

![image](https://user-images.githubusercontent.com/46511495/184851625-7cdb1e20-1094-4342-81ee-15dffca46c32.png)

as you can s

[2022-08-16 10:28] cameel commented on #651
This needs a closer look but from your screenshot it looks like the differences are all in the CBOR metadata, i.e. probably the JSON metadata is slightly different. Note that metadata contains hashes of all input files so even changes to whitespace or comments will change it.

At least it does not look like #527, which was fixed in 0.8.6.

[2022-08-16 10:37] linhnvhicts commented on #651
hi @cameel , thank you for the quick reply, the metadata I posted above is from the output of solc-js. Here is the metadata from Remix IDE for extra information:

[code]

The only difference between the metadata of this remix ide and the solc meta data from the question is the
[code]

[2022-08-16 12:14] cameel commented on #651
Could be line endings. Or the missing final line ending at the end of the file (not all editors keep it). The hash on the exact content so even that would affect it.

The best way to be sure your results are reproducible would be to store your files in a repository. Remix can import them from github repos for example. Relying on copy and paste for that is never a good idea.

[2022-08-19 03:23] linhnvhicts commented on #651
thank @cameel, you are right there was some extra whitespace coming from the textarea input on my end. That why the hash in the end is different, thank you for the help!

[2022-08-19 03:23] #651 closed

[2022-08-23 01:03] reselbob opened #652 "Getting Error: EEXIST: file already exists, mkdir '.'"
Hi:

I run this command: `solcjs --bin --include-path node_modules/ --base-path . LookupContract.sol`

And get this result:

[code]

Here is the content of  `LookupContract.sol`:

[code]

Here is my package.json

[code]

Help? I am jammed up.

Triple thanks in advance!

[2022-08-23 03:05] reselbob commented on #652
This works:

[code]

This is the result:

[code]

[2022-08-28 05:37] apuser333 opened #653 "Can't run command : "yarn solcjs --bin --abi --include-path node_modules/ --base-path . -o . SimpleStorage.sol"."
When I run "yarn solcjs --bin --abi --include-path node_modules/ --base-path . -o . SimpleStorage.sol". It dislays an error

Error: Error reading SimpleStorage.sol: Error: ENOENT: no such file or directory, open 'SimpleStorage.sol'
error Command failed with exit code 1.

Can someone pls help?

[2022-08-30 20:21] najmahmd commented on #378
0x8ADbBfF777187768Dfc60Bf6aBB624b5Fa7E1415

[2022-09-07 17:39] chase-manning opened #654 "Solc-js Causes Node Scripts to Delay Finishing"
If `solc` is imported into any node script, it causes that script to delay for a few seconds after finishing.

I have created a small repository to replicate this issue:

https://github.com/chase-manning/solc-bug-reproduce

Details on how to replicate are in the readme for that repo.

But in short, this script:
[code]
when run with, for example, `node index.js` will lag for about 5 seconds after `

[2022-09-07 18:05] cameel commented on #654
Yes, it's a known issue and it seems to actually be a problem in node.js: https://github.com/nodejs/node/issues/36616

Thanks for the report but I'm going to close this since the problem is already tracked in https://github.com/ethereum/solidity/issues/9297.

[2022-09-07 18:05] #654 closed

[2022-09-07 18:10] chase-manning commented on #654
@cameel Thanks! Do you know of any workarounds that I could use? 😄

[2022-09-07 18:12] cameel commented on #654
On older node.js versions a manual `process.exit()` used to help. That stopped working on node.js 17 but `node --wasm-dynamic-tiering` should work. Not sure if that feature was already released is a stable node.js version though.

[2022-09-08 10:30] r0qs commented on #641
Hi @LndnMdiaLb, it is the root path of your project source tree. If you omit it, the base-path is considered to be the current working directory. So you could just use:

[code]
If you want to use `contracts` as the base-path, you need to do:
[code]

Please consider this [note](https://github.com/ethereum/solc-js#usage-on-the-command-line) when changing the base-path:
[code]

[2022-09-08 11:50] r0qs commented on #652
Hi @reselbob, what version of `solcjs` and `nodejs` are you using?

I had no problem running the first or the second command with your code:
[code]
Or without including the node_modules:
[code]

My versions are:
[code]

[2022-09-08 12:10] r0qs commented on #653
Hi @apuser333 please see the instructions on how to install and run solc-js [here](https://github.com/ethereum/solc-js#nodejs-usage).

If you want to build from source, you can do de following after clone this repo:
[code]

[2022-09-08 14:52] reselbob commented on #652
[code]
[code]
Let me revisit the issue, please. Thank you sincerely @r0qs to taking the time to help me out.

[2022-09-08 15:47] cameel commented on #652
I also tried to reproduce and this does not happen for me. What platform are you on?

The crash apparently happens when the script tries to create the directory (`.` in this case): https://github.com/ethereum/solc-js/blob/a0226f0847f54153a232351827a0f2917192a54c/solc.ts#L225

It errors out because the directory exists but this is not supposed to happen because we use the `recursive` option. It cou

[2022-09-09 16:18] cameel commented on #653
I cannot reproduce this. This runs just fine for me:

[code]

Does the file exist? How are you installing `solc`? What platform are you on?

In any case, this looks more like a usage problem than a genuine bug in the compiler so I'm going to close it. Feel free to reopen if you can show how it can be reproduced. If you're just looking for help in using the compiler, the [#solidity](https://gitter.

[2022-09-09 16:18] #653 closed

[2022-09-09 19:49] cameel commented on #641
You can find detailed docs about how path resolution works in [Import Path Resolution](https://docs.soliditylang.org/en/latest/path-resolution.html).

In short, the main purpose of base path is to be the location that direct imports are resolved against. I.e. if the base path is `/some/path/`, and you have `import "a/b/c.sol"` in your contract, the compiler will look for the file in `/some/path/a/

[2022-09-09 19:49] cameel commented on #641
In any case, closing since this is not a bug.

[2022-09-09 19:49] #641 closed

[2022-09-09 20:12] xx014939 opened #657 "wrapper.js:10 Uncaught TypeError: Cannot use 'in' operator to search for '_solidity_version' in undefined"
## Description

Hey guys, I have been trying to use solc in a React.js app for around a week now, and I can't get it to work!

I am importing solc using the following statements

import * as wrapper from 'solc/wrapper';
const solc = wrapper(window.Module);

However, upon compiling I get the following error in the browser

wrapper.js:10 Uncaught TypeError: Cannot use 'in' operator to search for '_s

[2022-09-10 12:00] r0qs commented on #641
Maybe it would be nice to add this comment in the readme as well?

[2022-09-10 13:17] cameel commented on #641
Why not. Feel free to submit a PR to adjust that. We could add a sentence or two on that and maybe link to specific bits in the import path resolution docs. Like, the `--base-path` option could be a link to the section on base path and we could also link to https://docs.soliditylang.org/en/latest/path-resolution.html#cli-path-normalization-and-stripping.

[2022-09-12 10:00] r0qs commented on #627
Hi @RickCastle2018 what version of solc-js are you using?
When you opened the issue you state that were using `soljson-v0.8.4+commit.c7e474f2.js` but in your example you use `v0.4.5`.

You are correct about the `require`, but I believe this also apply to ES6 imports, since nodejs doesn’t natively support ES6 import directly as far as I know. The easy way is to bundle your modules need using [brows

[2022-09-12 10:06] r0qs commented on #657
Hi @xx014939, can you provide more details of your setup? What version of solc-js are you using?

Probably related to https://github.com/ethereum/solc-js/issues/627

[2022-09-12 16:16] xx014939 commented on #657
Hey @r0qs

The package.json file of the node module contains the following properties

"name": "solc",
    "version": "0.8.16",
    "description": "Solidity compiler",
    "main": "index.js",
    "bin": {
        "solcjs": "solc.js"
    },

So I'm on version 0.8.16.

_solidity-version is only mentioned once in wrapper.js, on line 36 which reads as follows

let version;
    if ('_solidity_version'

[2022-09-19 10:29] r0qs commented on #619
Hi @weiyuan95, what version of solc are you using? I tested your code here, and it compiles with solc version `0.8.17`, soljson `v0.4.18+commit.9cf6e910` and nodejs`18.9.0`. However, I get the following warning enabling `--trace-warnings` in nodejs:

[code]

The warning does not happen when using the wasm build: https://binaries.soliditylang.org/wasm/soljson-v0.4.18+commit.9cf6e910.js
This warning

[2022-09-21 13:12] Xardesso opened #660 "Troubles witch yarn solc"
something goes wrong when i paste code in terminal and i dont know what i should do.Its my firs github post
code:
yarn solcjs --bin --abi --incl ude - path node_modules / --base - path . -o . SimpleStorage.sol
thx for help
![image](https://user-images.githubusercontent.com/112291196/191512493-d5cdb81b-c6c4-497b-9f88-798c80c3fc84.png)

[2022-09-21 14:04] cameel commented on #660
You have stray spaces in your command. It should probably look like this:
[code]

But this is not the right places for asking support questions. Please drop by at the [#solidity](https://app.element.io/#/room/#ethereum_solidity:gitter.im) channel instead.

[2022-09-21 14:04] #660 closed

[2022-09-21 15:55] weiyuan95 commented on #619
Thanks @r0qs ! I will close this, since this is quite outdated. Thanks for taking the time to take a look at this!

(If more people seem to experience this problem, i'l be more than happy to give more information)

[2022-09-21 15:55] #619 closed

[2022-09-21 17:21] joycebrum opened #661 "Enable the OpenSSF Scorecard Github Action"
Hello, I am Joyce and I'm working on behalf of Google and the [Open Source Security Foundation][ossf] to help essential open-source projects improve their supply-chain security. Given the solc-js relevance to provide JavaScript bindings for the Solidity compiler, the OpenSSF has identified it as one of the 100 most critical open source projects.

Would you consider adopting an OpenSSF tool called

[2022-09-26 10:23] r0qs commented on #493
Hi @iAmMichaelConnor, @yilmazbingo, and @TimDaub,

I looked at this problem, and apparently, it was fixed on version `>=0.8.12`. I tested the demo using the recent solcjs versions, and it worked as expected.
However, for older binaries (<0.8.12), you may need to use the workaround suggested here: https://github.com/ethereum/solidity/issues/12228 to remove the listener of unhandled Promise rejectio

[2022-09-26 13:09] r0qs commented on #456
Hi, I'm closing this because, as pointed out here: https://github.com/ethereum/solc-js/issues/581 and by this comment: https://github.com/ethereum/solc-js/issues/456#issuecomment-604649453, it is currently required to use a web worker with solc-js in some browsers (chromium-based). Also, thi

You can see examples of how to accomplish it here: https://github.com/ethereum/solc-js/issues/456#issuecom

[2022-09-26 13:09] #456 closed

[2022-09-26 14:47] r0qs commented on #657
Hi @xx014939, in which browser are you testing? Chromium-based browsers seem to have a problem loading the wasm binary in the main thread. So you are currently required to use a [web worker](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers). You can see here: https://github.com/ethereum/solc-js/issues/627#issuecomment-1243501953 an example of how to do it.

Howeve

[2022-09-26 16:19] Tectract commented on #456
thanks for the reference. I'll take a look at my code again.

[2022-09-28 22:30] r0qs opened #663 "Make solc-js cli modular and async"
It would be great to modularize the cli and make it async.

[2022-09-28 22:40] r0qs opened #664 "Export load and loadRemoteVersion without loading a compiler"
We should change the compiler wrapper object to not include the `loadRemoteVersion` method. The method should be exported independently. This was brought by PR #416.

[2022-10-02 07:26] rexdavinci commented on #226
If you are using react, you need to use web worker. You can use https://github.com/rexdavinci/browser-solidity-compiler to get this done. It comes with typescript support as well.

[2022-10-03 09:57] r0qs commented on #661
Hi @joycebrum, thanks for the details. Maybe we could give it a try. Could you open a PR adding the action? I think we can initially only use the minimum required permissions and not activate the optional features.

[2022-10-03 12:27] r0qs opened #665 "Make the CLI testable with different solc versions"
As mentioned here https://github.com/ethereum/solc-js/pull/441#issuecomment-573700584, the test suite should support testing the CLI against different solc versions.

[2022-10-03 12:41] r0qs opened #666 "Run the test suite against a particular soljson.js file"
As mentioned here https://github.com/ethereum/solc-js/pull/441#issuecomment-573700584, we should enable the test suite to run against a single soljson binary.
The CI config must also be adjusted to run the tests with the versions that are currently hard-coded.
And it could also have a run that tests all release binaries and runs on tagged release commits.

[2022-10-03 19:03] rsodre commented on #209
@axic  and how does one do that from the command line?

[2022-10-04 10:05] vampire-ab opened #668 "AssertionError [ERR_ASSERTION]: Invalid callback object specified"
Compile.js code:
`const path = require('path');
const fs = require('fs');
const solc = require('solc');

const inboxPath = path.resolve(__dirname, 'contracts', 'Inbox.sol');
const source = fs.readFileSync(inboxPath, 'utf8');
module.exports = solc.compile(source, 1).contracts[':Inbox'];`

The Error

`"d:\Projects\BlockChain\Inbox\compile.js"
node:assert:400
    throw err;
    ^

AssertionError [ERR

[2022-10-05 06:08] vampire-ab commented on #668
Covert to the new syntax. Something like this:
`// const path = require('path');
// const fs = require('fs');
// const solc = require('solc');

// const inboxPath = path.resolve(__dirname, 'contracts', 'Inbox.sol');
// const source = fs.readFileSync(inboxPath, 'utf8');
// module.exports = solc.compile(source, 1).contracts[':Inbox'];
//1 denotes number of contracts we are going to deploy.

const pa

[2022-10-05 06:08] #668 closed

[2022-10-06 11:52] cameel opened #669 "Dependabot version updates"
We can have dependabot ping us when dependencies need to be updated. We have that enabled for security vulnerabilities but not for regular updates. See [Configuring Dependabot version updates](https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates). This will require adding a `dependabot.yml` to the repo.

Before doing this, check if t

[2022-10-06 12:32] cameel opened #670 "CI runs with oldest and latest supported versions of dependencies"
As a library, we are committed to supporting whole ranges of dependency versions to give the apps that use solc-js the most flexibility. However, we only really test with a single set of versions versions right now. I think that we should be running the test suite with multiple sets of versions. Doing oldest and latest seems the most reasonable.

The task here is to add variants of `node-base` job

[2022-10-06 21:33] cameel opened #671 "Downloading binaries from `emscripten-asmjs/` and `emscripten-wasm/` dirs in solc-bin"
We introduced the new directory structure in solc-bin quite a while ago and we're recommending it in [Static Binaries](https://docs.soliditylang.org/en/latest/installing-solidity.html#static-binaries). solc-js, however, still uses the legacy `bin/` directory. We should switch to the new structure.

- Make `downloadCurrentVersion.ts` use the new dirs.
    - It should try `emscripten-wasm/` first an

[2022-10-09 06:13] #661 closed

[2022-10-26 13:49] AndreMiras commented on #537
I'm not too sure how to go about replacing the asm.js by the wasm one, but in my case increasing the stack-size got it to pass (for node 16).
[code]
Default size was `984` on my system:
[code]